* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background: rgb(231, 227, 215);
}

.header {
  background: rgb(247, 226, 181);
}

.title {
  font-size: 2rem;
  font-family: "Economica", sans-serif;
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 1rem 0;
  background: rgb(255, 233, 220);
}

.title,
.nav a {
  color: black;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav a {
  font-size: 1.5rem;
  font-family: "Economica", sans-serif;
}

.nav-item {
  display: inline-block;
  align-items: center;
  cursor: pointer;
}

.nav-item,
.img {
  padding: 1rem;
}

.nav a:hover {
  color: rgb(104, 102, 102);
}

.img {
  height: 50vh;
  width: 100%;
  object-fit: cover;
}

.container {
  margin: 0 auto;
  padding: 0 2rem 2rem;
  max-width: 50rem;
}

.text {
  font-size: 1.2rem;
  padding: 0 0 1rem 0;
}
